* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 113px;
  background-color: #24204A;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: fixed;
  top: 0;
  z-index: 10;
}

.header_w-1153 {
  width: 1153px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_w-1153 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 63px;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.6;
}

header h2 {
  color: #E5E5E5;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.6;
}

.one-position {
  height: 692px;
  background-color: #24204A;
  padding: 180px 0 101px 0;
}

.one-position_w-1153 {
  width: 1153px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.one-position_w-1153 div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
}

.one-position_w-1153 .one-position1 {
  width: 145px;
  height: 41px;
  border-radius: 8px;
  background: #4B4864;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 5px;
  border: none;
  color: #FFFFFF;
}

.one-position_w-1153 h1 {
  width: 261px;
  height: 88px;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #FFFFFF;
}

.one-position_w-1153 p {
  width: 570px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #8E88C1;
}

.button-about {
  width: 200px;
  height: 56px;
  border-radius: 8px;
  background: #3F50E7;
  box-shadow: 0px 6px 20px 0px #00FFE033;
  border: none;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}

.one-position_w-1153 div:nth-child(2) {
  width: 375px;
  height: 411px;
  border-radius: 8px;
  background: #827EAC;
  box-shadow: 0px 4px 50px 0px #00000040;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lorem-ipsum {
  min-height: 764px;
  background: #071341;
  padding: 80px 0;
}

.w-1153-lorem-ipsum {
  width: 1153px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.icon div:nth-child(1) {
  width: 56.14px;
  height: 56px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon h4 {
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 120%;
}

.icon p {
  font-size: 14px;
  font-weight: 500;
  color: #8E88C1;
}

.w-1153-lorem-ipsum h2 {
  width: 1074px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
}

.icon:nth-child(1) div:nth-child(1) {
  background: #FF6853;
}
.icon:nth-child(2) div:nth-child(1) {
  background: #FF537C;
}
.icon:nth-child(3) div:nth-child(1) {
  background: #80D2C4;
}
.icon:nth-child(4) div:nth-child(1) {
  background: #3F50E7;
}
.icon:nth-child(5) div:nth-child(1) {
  background: #95CB7C;
}

.w-1153-lorem-ipsum > .section-desc {
  width: 545px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #8E88C1;
  margin-top: -30px;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 209px;
  height: 206px;
  border-radius: 8px;
  border: 2px solid #8E88C1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 26px;
}

.card p {
  width: 178px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #8E88C1;
}

.map-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

iframe {
  width: 100%;
  height: 664px;
  display: block;
}

footer {
  height: 94px;
  width: 100%;
  background-color: #24204A;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
