* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2vw;
}
header, footer, section, aside {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  height: 20vh;
  background-color: #8D8484;
}
main {
  display: flex;
  color: white;
}
section {
  height: 20vh;
  width: 73vw;
}
.a1 {
  background-color: #776969;
}
.a2 {
  background-color: #643030;
}
.a3 {
  background-color: #441818;
}
aside {
  height: 30vh;
  width: 27vw;
}
.s1 {
  background-color: #937575;
}
.s2 {
  background-color: #644C4C;
}
footer {
  height: 20vh;
  background-color: #BDBDBD;
}
header, footer {
  color: #000000;
}
